header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 40px;
    box-shadow: rgba(6, 5, 50, 0.1) 0 4px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    margin-bottom: 10px;
    z-index: 1;
}

.header-menu {
    display: flex;
    gap: 10px;
}

.header-menu a {
    transition: all 0.3s;
    border-radius: 12px;
    padding: 10px;
}

.header-menu a:hover {
    background: #f3f3f7;
}