<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{head.html :: head}"></head>

<body>
<header th:replace="header.html :: header"></header>

<main class="container">
    <div class="head">
        <h2 class="page-title">Список курьеров</h2>
        <a class="secondaryButton" href="/couriers/create">Добавить курьера</a>
    </div>
    <div class="courier-grid">
        <div class="courier-item" th:each="courier : ${couriers}">
            <img th:src="${courier.imageUrl}" alt="Изображение курьера"/>
            <h3 class="title" th:text="${courier.name}">Имя курьера</h3>
            <p class="phone" th:text="${courier.phoneNumber}">+7 123 456 78 90</p>
            <a th:href="'/couriers/edit/' + ${courier.id}" class="secondaryButton" type="submit" style="width: 100%">Редактировать</a>
            <p class="availabilityButton" th:text="${courier.isAvailable ? 'Доступен' : 'Занят'}">Доступен</p>
        </div>
    </div>
</main>

<footer th:replace="~{footer.html :: footer}"></footer>
</body>

</html>
